<div>
  <div class="head-sec">
    <div class="logo">
      <img src="../assets/logo.svg" alt="logo" />
    </div>
    <div class="logout" routerLink="/login" (click)="onLogout()">Logout</div>
  </div>
  <!-- <div class="nav-sec">
    <div>
      <a routerLink="/dashboard/publisher-rule" routerLinkActive="active"
        >Publisher Rule</a
      >
      <div class="active-class"></div>
    </div>
    <div>
      <a routerLink="/dashboard/feed-manager" [routerLinkActive]="['active']"
        >Feed Manager</a
      >
      <div class="active-class"></div>
    </div>
    <div>
      <a
        routerLink="/dashboard/referrer-manager"
        [routerLinkActive]="['active']"
        >Referrer Manager</a
      >
      <div class="active-class"></div>
    </div>
    <div>
      <a
        routerLink="/dashboard/search-pixel-manager"
        [routerLinkActive]="['active']"
        >Internal Search Pixel Manager</a
      >
      <div class="active-class"></div>
    </div>
    <div>
      <a routerLink="/dashboard/country-manager" [routerLinkActive]="['active']"
        >Country Manager</a
      >
      <div class="active-class"></div>
    </div>
    <div>
      <a routerLink="/dashboard/domain-manager" [routerLinkActive]="['active']"
        >Domain Manager</a
      >
      <div class="active-class"></div>
    </div>
  </div> -->
  <div class="nav-sec">
    <a
      *ngFor="let nav of navs"
      [routerLink]="nav.url"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ nav.content }}</a
    >
    <div class="active-class"></div>
  </div>
</div>
<router-outlet></router-outlet>
