<div class="login-container">
  <div class="head-login">
    <img src="../../../assets/logo.svg" alt="Logo" />
  </div>
  <div class="head-two"></div>
  <div class="login-name">Login</div>

  <div class="login-form">
    <form action="">
      <div><input type="email" placeholder="Email address" /></div>
      <div><input type="text" placeholder="Password" /></div>
      <div class="btn-div">
        <button class="login-btn" routerLink="/dashboard">Login</button>
      </div>
    </form>
  </div>
</div>
